workflow.json
{
  "name": "ilyasse workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        0
      ],
      "id": "8f8c46f4-ad4f-4802-a8cf-2f9abb6736a8",
      "name": "Telegram Trigger",
      "webhookId": "f8692ce8-1a3a-4c74-92ee-ae8027e996ca",
      "credentials": {
        "telegramApi": {
          "id": "A4E3kmxwGn1SvRVp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"HTML\"]?.isExecuted ? \"أنت خبير في تحليل الروابط. لخص النص التالي بأسلوب عقلاني ومنظم:\" : \"أنت مساعد شخصي ذكي ولبق. أجب على أسئلة المستخدم بذكاء ومنطق، وتجنب الردود المكررة أو الجامدة:\" }}\n\nالمدخلات:\n{{ $node[\"HTML\"]?.isExecuted ? $node[\"HTML\"].json[\"article_content\"] : $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        48
      ],
      "id": "be2c0857-c5f7-4ca7-b3d5-caa3cfd91cbc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        240
      ],
      "id": "26f5c739-1006-49d2-8227-e66ecbf79018",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $node[\"AI Agent\"].json[\"output\"] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        0
      ],
      "id": "3afcbf08-5782-47ed-ac7d-2af8af617f14",
      "name": "Send a text message",
      "webhookId": "e1f2acc8-4ac7-4dd5-9c29-45afbe3c71c1",
      "credentials": {
        "telegramApi": {
          "id": "A4E3kmxwGn1SvRVp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.message.text }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        -112
      ],
      "id": "7d3d7793-e295-4fb3-b5ff-fb593e20b13a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "article_content",
              "cssSelector": "p"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        80,
        -64
      ],
      "id": "bf653ae4-b89f-4e5f-8b92-8869e1641e33",
      "name": "HTML"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d2959276-1ac2-4396-89a1-41db767b143d",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "=http",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        0
      ],
      "id": "dec7abe9-4ceb-4c5e-a172-27df3fff5225",
      "name": "If"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        256
      ],
      "id": "fb7d9d60-ce22-40ce-a086-b6d8f0edf8fa",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "6v8YUtD1DE1OjGft",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f1eeaed0-7a2a-4942-8941-da26ff4270e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "867407d865feda376bbf8f0dfa82d6f4a564777f2e24f5d626e56cd73d6a760a"
  },
  "id": "Wq8SCYKWpbGhEjR8",
  "tags": []
}
